*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FBFCF4;
    padding: 20px;
}
.container{
    width: 100%;
    background-color: #FBFCF4;
}
.image-section{
    width: 300px;
    float: left;
}
.image-section img{
    width: 100%;
    border-radius: 10px;
}
.text-section{
    width: 65%;
    float: left;
}
.text{
    margin: 50px;
    background-color: #eaf4e1;
    padding: 15px;
    border: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.text h3{
    font-size: 20px;
}
.text p{
    margin: 5px;
    font-size: 20px;
    color: #666;
}