body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F7;
}
.left{
    margin-left: 20vh;
    margin-top: 15vh;
}
.main{
    font-size: 80px;
    margin-bottom: 0;
    color: #0766FF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.under{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.1;
}
.right{
    margin-right: 20vh;
    margin-top: 20vh;
}
.container{
    height: 370px;
    width: 450px;
    background-color: white;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
.input{
    height: 7vh;
    width: 98%;
    border: 1px solid hsl(0, 0%, 70%);
    padding-left: 1vh;
    font-size: 20px;
    border-radius: 5px;
}
.login{
    height: 7vh;
    width: 101%;
    border: none;
    background-color: #0766FF;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight:bold;
}
.mid{
    text-align: center;
}
.forgor{
    text-decoration: none;
    color: #0060FF;
    font-size: 21px;
}
.create{
    background-color: #43B72A;
    color: white;
    border-radius: 7px;
    border: none;
    height: 8vh;
    width: 32vh;
    margin-top: 4vh;
    font-size: 20px;
    font-weight:bold
}
button{
    cursor: pointer;
}
.forgor:active{
    color:0060FF;
}